<div data-animation="default" class="rl_navbar5_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="f54d714c-e5fa-624e-e992-1c83228bf4e1" role="banner" data-duration="400">
    <div class="rl_navbar5_container">
      <a href="{{ links.2f }}" aria-current="page" class="rl_navbar5_logo-link w-nav-brand w--current">
        <div class="html-embed-2 w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="50px" heigth="auto" viewBox="0 0 576 512">
            <!-- ! Font Awesome Free 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.  -->
            <path d="M0 176c0-44.2 35.8-80 80-80H464c44.2 0 80 35.8 80 80v16c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32v16c0 44.2-35.8 80-80 80H80c-44.2 0-80-35.8-80-80V176zm80-16c-8.8 0-16 7.2-16 16V336c0 8.8 7.2 16 16 16H464c8.8 0 16-7.2 16-16V176c0-8.8-7.2-16-16-16H80zm368 32V320H96V192H448z" fill="currentcolor"></path>
          </svg></div>
      </a>
      <nav role="navigation" class="rl_navbar5_menu w-nav-menu">
        <div class="rl_navbar5_menu-left">
          <a href="{{ links.-4697fc72 }}" data-ms-content="members" class="navbar-link dashboard w-nav-link">{{ texts.38fd0a74 }}</a>
          <a href="{{ links.52526082 }}" class="navbar-link w-nav-link">{{ texts.-114e4dba }}</a>
          <a href="{{ links.2782eb1 }}" data-ms-content="members" class="navbar-link w-nav-link">{{ texts.-662bc98f }}</a>
        </div>
        <div class="rl_navbar5_menu-right">
          <a data-ms-content="!members" href="{{ links.5659b49a }}" class="button-2 w-button">{{ texts.462ff49 }}</a>
          <a data-ms-content="!members" href="{{ links.-71311e64 }}" class="button-2 ghost-button white w-button">{{ texts.-4646b81d }}</a>
          <a data-ms-action="logout" href="{{ links.23 }}" class="button-2 ghost-button white log-out w-button">{{ texts.-5eb1bb15 }}</a>
        </div>
      </nav>
      <div class="rl_navbar5_menu-button w-nav-button">
        <div class="rl_menu-icon">
          <div class="rl_menu-icon_line-top"></div>
          <div class="rl_menu-icon_line-middle">
            <div class="rl_menu-icon_line-middle-inner"></div>
          </div>
          <div class="rl_menu-icon_line-bottom"></div>
        </div>
      </div>
    </div>
  </div>